/*--Global Css Start--*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.color{
    background-color: #F4F8F9;
}
.white{
    background-color: #fff;
}
.grey{
      background-color: #FAFCFE;
    }
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
  justify-content: space-between;
}
.wrap{
  flex-wrap: wrap;
}
.w-full{
    width: 100%;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.width-50{
    width: 50%;
}
.w-48{
    width: 48%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}
:root{
  --themecolor:#4581FB;
  --fontcolor:#2C3D5F;
}
/*Global Css End*/

/*Header Css*/
.main-header{
    padding: 15px;
}
.main-header > .wrapper{
    padding: 20px;
}
.main-header nav ul li a{
    padding: 15px;
}
.main-header .bold{
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
}
.main-header nav ul li{
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0%;
    list-style-type: none;
}
.main-header nav ul li a{
    color: black;
    text-decoration: none;
}
.main-header nav ul li a.active{
    color: var(--themecolor);
    position: relative;
}
.main-header nav ul li a.active:after{
  content: "";
  background: url('images/curve-path.png') no-repeat;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 10px;
  bottom: 8px;

}
.main-header .icons img{
    padding: 12px;
}
/* Header Complete*/

/*Banner Css*/
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10px;
    min-height: 100vh;
    box-sizing: border-box;
}

.hero-content {
    max-width: 490px;
    width: 100%;
}

.hero-content h1 {
    font-size: 75px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 600;
    color: var(--fontcolor);
}

.hero-content h1 span {
    color: var(--themecolor); /* Blue */
}

.hero-content p {
    color: var(--fontcolor);
    font-size: 16px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background: var(--themecolor);
    color: #fff;
    font-weight: 500;
    padding: 17px 32px;
    border-radius: 15px;
    text-decoration: none;
    margin-bottom: 100px;
}
.banner {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.hero-image {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 756px;
    width: 100%;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}
    /* Slider dots */
.slider-dots {
    margin-top: 40px;
    display: flex;
    gap: 8px;
}

.slider-dots span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--fontcolor);
    opacity: 50%;
}

.slider-dots span.active {
    opacity: 100%;
    background: var(--themecolor);
    width: 25px;
    border-radius: 8px;
}
/*Banner Css Complete*/


/*Grid CSS*/
.categories{
    padding-bottom: 50px;
}
.cat-grid {
  display: grid;
  grid-template-areas: 
  "sale women men accessories"
  "new women shoes shoes";
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 18px;
}
.cat-card {
    position: relative;
    overflow: hidden;
    background: #e5e7eb;
    background-image: var(--img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}
.cat-card:hover {
  transform: scale(1.03);
}
/* Badge */
.cat-badge {
    background: rgba(255, 255, 255, 0.8);
    color: #2C3D5F;
    font-weight: 500;
    padding: 12px 35px;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(15, 23, 42, 0.12);
}
/* Grid Areas*/
.sale{
  grid-area: sale;
}
.women {
  grid-area: women; 
}
.men{
  grid-area: men;
}
.accessories{
  grid-area: accessories;
}
.new{
  grid-area: new;
}
.shoes {
  grid-area: shoes; 
}

/*Best Seller Section CSS*/
.section-title {
  text-align: center;
  margin: 30px 0;
}
.section-title h2 {
  font-size: 50px;
  font-weight: 600;
  color: #2C3D5F;
}
.section-title h2 span {
  color: var(--themecolor); 
}
.section-title p {
  color: #2C3D5F;
  font-size: 24px;
  font-weight: 400;
  margin-top: 7px;
}
/*FLEX CONTAINER*/
.product-flexbox {
  gap: 20px;
  justify-content: space-between;
}
/*PRODUCT CARD*/
.product-card {
  text-align: center;
  width: calc((100%/4) - 15px);
  margin-bottom: 22px;
}

.prd-img-wrap{
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 10px;
}

.prd-img-wrap:hover .options{
  opacity: 1;
  right: 0;
}
.options{
  position: absolute;
  inset: 0;
  right: -900px;
  background: rgba(0,0,0,0.6);
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  padding: 20px;
  gap: 8px;  /*icons ka beech ma gap*/
  opacity: 0;
  transition: 0.3s ease all;
}
.options .search{
  background: transparent;
  border: none;
  margin-right: 5px;
  cursor: pointer;
}
.options .cart{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: var(--themecolor);
  border: 2px solid #fff;
  cursor: pointer;
}
.prd-img{
  width: 100%;
  display: block;
}

.product-card .rating{
  width: 107px;
  display: block;
}
.product-title {
  font-size: 16px;
  margin-bottom: 6px;
  color: var(--fontcolor);
}

.product-price {
  font-size: 24px;
  font-weight: 600;
  color: #4581FB;
}

/*Flex Fashion layout Css*/
.layout{
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 30px;
  gap: 20px;
  
}
.fashion { 
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: calc((100%/3) - 15px);
}
.fashion img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}
.fashion:hover img {
  transform: scale(1.05);
}
.fashion .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  color: #2C3D5F;
  font-weight: 500;
  padding: 15px 31px;
  border-radius: 15px;
  box-shadow: 0 6px 16px rgba(15, 23, 42, 0.12);
  text-align: center;
}

/*Blog Section CSS*/
.blog-section{
  padding-bottom: 50px;
}
.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.section-title h2 {
  font-size: 50px;
  font-weight: 600;
  color: #2C3D5F;
}

.section-title h2 span {
   color: var(--themecolor); 
}

.section-title p {
  font-size: 24px;
  color: var(--fontcolor);
  font-weight: 400;
  margin-top: 8px;
}

.blog-cards {
  gap: 20px;
  padding-bottom: 30px;
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  width: calc((100%/3) - 15px);
}

.card img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
  flex-direction: column;
}

.line{
  border-radius: 7px;
  width: 34px;
  height: 2px;
  background-color: var(--themecolor);
  margin: 8px 0px;
}
.card-body h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--fontcolor);
}

.card-body p {
  font-size: 14px;
  letter-spacing: 0.34px;
  color: var(--fontcolor);
  opacity: 70%;
  margin-bottom: 16px;
}

.meta {
  gap: 15px;
  font-size: 16px;
  font-weight: 400;
  color: var(--fontcolor);
  margin-bottom: 15px;
}

.meta span{
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

/* icon size */
.meta img {
  width: 22px;   
}

.btn-product {
  display: inline-block;
  background: var(--themecolor);
  color: #fff;
  text-align: center;
  padding: 14px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
}

/*Page 2 CSS*/

/*Best Product Section Css*/
.Best-products{
  margin-bottom: 35px;
  margin-top: 45px;
}
.filter-bar{
    gap: 20px;
    margin-bottom: 35px;
}
/* select box design */
.filter-bar .left-part select {
  padding: 6px 12px;
  border: none;        
  outline: none;        
  font-size: 14px;
  cursor: pointer;
  color: var(--fontcolor);
}
.filter-bar .left-part img{
    width: 24px;
    height: 16px;
    cursor: pointer;
}
.filter-bar .left-part{
    gap: 10px;
}
 .filter-bar p{
    font-size: 16px;
    color: var(--fontcolor);
    font-weight: 400;
}
.product-flex-section {
  justify-content: space-between;
  gap: 20px;
}

/*Numbers Section*/
.pagination{
    padding: 60px 0 75px;
    gap: 70px;
    font-size: 16px;
}
.pagination .bold{
    background-color: var(--themecolor);
    color: #fff;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.pagination .num-color{
    color: #34373C;
    opacity: 50%;
    font-size: 16px;
}
.pagination .left-arrow img{
    width: 20px;
}
.pagination .right-arrow img{
    width: 20px;
}

/*Page 3 Css*/
/*2 Section of page 3*/
.buy-section{
  margin-top: 40px;
  padding: 20px 0 0;
}
.product-detail {
  gap: 70px;
}

.product-images {
  gap: 28px;
}
.thumbs {
  flex-direction: column;
  gap: 21px;
}

.thumbs img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

.main-img{
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
.main-img img {
  width: 100%;
  margin: auto;
  height: auto; /*streach na ho*/
  display: block;
}
/*image icon css*/
.product-icons{
  position: absolute;
  top: 20px;
  right: 15px;
}
.product-icons .search{
  overflow: hidden;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  border: none;
}
.product-icons .search img{
  width: 18px;
  height: 18px;
}
.arrow-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  padding: 0;
}
.arrow-icon.left{
  left: 15px;
  background: #fff;
}
.arrow-icon.right{
  right: 15px;
  background: var(--themecolor);
}
.arrow-icon img{
  width: 18px;
}
/*image icons css end*/

.sku, .stock {
  font-size: 16px;
  font-weight: 400;
  color: var(--fontcolor);
  margin-bottom: 6px;
}
.sku span, .stock span{
  opacity: 50%;
}
.sku{
  gap: 66px;
}

.stock{
  gap: 20px;
}

.title {
  font-size: 30px;
  margin: 8px 0;
  font-weight: 500;
}

.price {
  font-size: 30px;
  font-weight: 600;
  color: var(--themecolor);
  margin-bottom: 4px;
}

.product-info .tax {
  font-size: 16px;
  opacity: 50%;
  color: var(--fontcolor);
  margin-bottom: 15px;
}

.rating {
  margin-top: 10px;
  gap: 20px;
  margin-bottom: 15px;
}
.rating img{
    width: 107px;
    border-radius: 1px;
    height: 19px;
}

.rating span, .rating a {
  color: #2563eb;
  text-decoration: none;
  font-size: 16px;
}
.colors{
  gap: 45px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.colors .gap{
    gap: 14px;
}

.colors-options { 
  gap: 10px;
  overflow: visible;   
}
.colors .color {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: none; /* extra border hatane ke liye */
  outline: none; /* outline bhi remove */
}

.colors .color.selected::after{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(24px + 8px);
  height: calc(24px + 8px);
  border-radius: 50%;
  border: 2px solid var(--themecolor);
}

.navy { background: linear-gradient(135deg, #1F1D22, #4C4B4E); }
.blue { background: linear-gradient(135deg, #5287A1, #2A6481); }
.gray { background: linear-gradient(135deg, #3C3F5B, #434878); }
.red { background: linear-gradient(135deg, #F64C4B, #D42C2B); }

.sizes{
  gap: 60px;
  font-size: 16px;
  font-weight: 400;
  color: var(--fontcolor);
  margin-bottom: 16px;
}

.sizes span{
  opacity: 50%;
}

.material {
  margin: 8px 0;
  font-size: 16px;
  color: var(--fontcolor);
  font-weight: 400;
  gap: 40px;
  margin-bottom: 16px;
}

.material strong{
  opacity: 50%;
  font-weight: 400;
}

.action-row {
  gap: 15px;
  margin: 10px 0;
}

/* Pure single box */
.quantity {
  width: 160px;
  background: #ECF0F3;   
  border-radius: 12px;
  padding: 10px 8px;
  font-size: 18px;
  font-weight: 400;
  color: var(--fontcolor);
  cursor: pointer;
  margin-bottom: 14px;
}

.quantity span {
  flex: 1;
  text-align: center;
}

/* Add to cart button */
.add-cart {
  width: 376px;
  background: #164AB4;   
  border: none;
  border-radius: 10px;
  padding: 14px 25px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  margin-bottom: 14px;
}

.terms {
  margin: 14px 0;
  font-size: 16px;
  color: var(--fontcolor);
}

.terms label{
  opacity: 70%;
  padding-left: 5px;
}

.buy-now {
  background: var(--themecolor);
  color: white;
  padding: 14px 25px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  width: 557px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 12px;
}

/* ==== Description ==== */
.description h2 {
  color: var(--fontcolor);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.description p {
  margin-bottom: 30px;
  color: var(--fontcolor);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  letter-spacing: 0.34px;
  line-height: 30px;
}
.description p.parag{
  margin-bottom: 0;
}
/* ==== Reviews ==== */
.reviews h2 {
  color: var(--fontcolor);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.write-review {
  font-size: 16px;
  color: var(--themecolor);
  text-decoration: none;
  font-weight: 500;
}
.review-item {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.review-item h4 {
  font-size: 16px;
  font-weight: 500;
  color: var(--fontcolor);
  margin-bottom: 5px;
  margin-left: 10px;
}
.review-item img.color {
  width: 107px; 
  display: block;
  margin-left: 10px;
  background-color: transparent;
}
.review-item p {
  font-size: 16px;
  color: var(--fontcolor);
  opacity: 0.7;
  line-height: 24px;
  font-weight: 400;
  margin-top: 15px;
}
.review-item:last-child {
  border-bottom: none;
}
.review-time {
  font-size: 16px;
  color: var(--fontcolor);
  opacity: 0.5;
  margin-left: auto; 
}
.desc-reviews {
  margin: 40px auto;
  padding: 20px;
  border-top: 1px solid #ddd; 
  border-bottom: 1px solid #ddd;
  gap: 40px; 
}


/*Related Poduct Section*/
.seller-section{
  margin-bottom: 40px;
}

.related-product{
  margin-bottom: 35px;
}
.related-product img{
  width: 20px;
  height: 20px;
}
.related-product h2{
  font-size: 24px;
  font-weight: 600;
  color: var(--fontcolor);
}
.arrow-space{
  gap: 15px;
}

/*empty space*/
.empty-space{
  width: 100%;
  height: 99px;
  background-color: #F4F8F9;
}

/*Footer Styling*/
.Arrow {
  width: 69px;
  height: 69px;     
  background: var(--themecolor); 
  border-radius: 50%;   
  cursor: pointer;
}
.Arrow img {
  width: 20px;   
}
/*Footer Top*/
.footer-top {
  padding: 25px 0 20px;
}

.footer-top > div {
  flex-grow: 1;     /* extra space equally share*/
  flex-shrink: 1;   /* chhoti screen par shrink hoga */
  flex-basis: 220px; /* minimum preferred width */
}

.space{
  padding-right: 50px;
}

.footer-top h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--fontcolor);
}

.footer-top .line {
  display: block;
  width: 34px;
  height: 2px;
  background: var(--themecolor);
  margin-bottom: 15px;
}

.footer-top p {
  font-size: 16px;
  font-weight: 400;
  color: var(--fontcolor);
  line-height:30px;
  letter-spacing: 0.34px;
  opacity: 70%;
}
.Buy{
   padding-left: 50px;
}
.items-li{
  padding-left: 50px;
}

.footer-top nav ul li {
  list-style-type: none;
}

.footer-top nav ul li a {
  text-decoration: none;
  font-size: 16px;
  opacity: 70%;
  line-height: 40px;
  color: var(--fontcolor);
}

/* --- Contact Info --- */
.footer-top .contact-info nav ul li a{
  text-decoration: none;
  font-size: 16px;
  opacity: 70%;
  line-height: 24px;
  margin: 0;
  color: var(--fontcolor);
}

.contact-items{
  padding-bottom: 30px;
}

.contact-info .contact-items img {
  width: 24px;
  margin-right: 15px;
}

.social-icons a {
  margin-right: 30px;
}

.social-icons img {
  width: 32px;
}

/* --- Footer Bottom --- */
.border {
  background-color: #243D4C;
  opacity: 20%;
  height: 1px;
  width: 100%;   /* FIX */
  margin: 30px 0;
}

.footer-bottom{
  padding-bottom: 35px;
}
.footer-bottom img {
  width: 37px;
}

.footer-bottom p {
  padding-left: 10px;
  font-size: 16px;
  color: var(--fontcolor);
  opacity: 70%;
}

.payment-methods {
  gap: 15px;
  margin-left: auto; 
}


.payment-methods img {
  width: 62px;
}

.mob-menu-icon{
  display: none;
  margin-right: 20px;
}

.mob-menu-icon svg{
  width: 20px;
}

/*Responsiveness Start*/
@media(max-width: 1024px){   /*landscape tablet or big size tablet*/
  .hero-content h1 {
    font-size: 62px;
  }
  .cat-grid{
    grid-auto-rows: 200px;
  }
  .meta span{
    font-size: 14px;
  }
  .left-col p{
    font-size: 15px;
    margin-bottom: 31px;
  }
  .review-text{
    font-size: 12px;
    line-height: 21px;
  }

  /*boy section*/
  .product-detail{
    flex-direction: column;
    align-items: center;
  }
  /*.main-img {
    max-width: 450px;
    margin-bottom: 20px;
  }*/
  .thumbs{
  gap: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.thumbs img{
  width: 100%;
  max-width: 100px;
}
.product-images{
  display: flex;
  flex-direction: column;
}
  .product-detail{
    gap: 30px;
  }
  .product-info{
    width: 100%;
  }
  .buy-now{
    width: 100%;
    max-width: 500px;
  }
  /*boy section end*/
}

@media(max-width: 992px){  /*normal tablets screen*/
  .mob-menu-icon{
    display: block;
  }
  .header-nav{
    display: none;
  }
  .hero{
    flex-direction: column;
  }
  .hero-image{
    position: relative;
  }
  .btn{
    margin-bottom: 22px;
  }
  .cat-grid{
    grid-auto-rows: 200px;
    grid-template-areas: 
      "sale women"
      "new women"
      "men accessories"
      "shoes shoes";
    grid-template-columns: repeat(2, 1fr);
  }
  .product-title{
    font-size: 14px;
  }
  .product-price{
    font-size: 18px;
  }
.fashion .text{
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 8px;
}
.card{
  width: calc(50% - 10px);
}

/*boy section*/
.thumbs{
  gap: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.thumbs img{
  width: 100%;
  max-width: 100px;
}
.product-images{
  display: flex;
  flex-direction: column;
}
/*boy section end*/

.review-item p{
  font-size: 14px;
}
.description p{
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 27px;
}
.footer-top{
  gap: 30px;
}
.footer-top > div{
  flex-basis: calc(50% - 15px);
  padding: 0;
} 
}

@media(max-width: 768px){  /*android tablet or ipad mini screen*/
  .product-card{
    width: calc((100% / 2) - 15px);
  }
  .card{
    width: 100%;
  }
  .layout{
    padding-bottom: 20px;
  }
  .section-title h2{
    font-size: 40px;
  }
  .section-title p{
    font-size: 19px;
  }
  .section-title{
     margin: 0px 0 20px;
  }
  .footer-top > div{
  flex-basis: 100%;
  }
  .fashion{
    width: calc((100% / 1) - 15px);
  }
  
  .review-time{
    font-size: 15px;
  }
  .review-item p{
  margin-top: 10px;
}

/*boy section*/
.thumbs{
  gap: 13px;
  display: flex;
  flex-direction: row;
}
.thumbs img{
  width: 100%;
  max-width: 75px;
}
.product-images{
  display: flex;
  flex-direction: column;
}
.btn{
  margin-bottom: 10px;
}
/*boy section end*/

}
@media(max-width: 620px){  
.thumbs{
  gap: 6px;
  display: flex;
  flex-direction: row;
}
.thumbs img{
  width: 100%;
  max-width: 65px;
}
.product-images{
  display: flex;
  flex-direction: column;
}
.product-detail{
  gap: 12px;
}
.title{
  font-size: 23px;
}
.price{
  font-size: 26px;
}
.arrow-icon{
  width: 35px;
  height: 35px;
}
.arrow-icon img{
  width: 14px;
}
.product-icons .search{
  width: 35px;
  height: 35px;
}
.product-icons .search img {
  width: 14px;
  height: 14px;
}

}
/*boy section end*/
@media(max-width: 480px){  
  .pagination {
    padding: 45px;
    gap: 28px;
  }

  .thumbs{
  gap: 10px;
  display: flex;
  flex-direction: row;
}
.thumbs img{
  width: 100%;
  max-width: 55px;
}
.product-images{
  display: flex;
  flex-direction: column;
}
.product-detail{
  gap: 12px;
}
}